<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header  -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right " style="align-items: center;">
                        <figure>
                            <img src="./Images/about.png" alt="about" class="img-fluid" title="weather-app">
                        </figure>

                    </div>
                    <!-- left side div   -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="txt_clr" style="color: #0097e6;">Mern Stack Developer </span> and Student of R.J. College</h1>
                        <a href="https://www.linkedin.com/in/naivedya-tripathi-29a960250" target="_blank"><button>About me</button></a>

                    </div>
                    <!-- right side div  -->
                </div>
            </div>
        </div>
    </div>

    <!-- footer code  -->
    {{>footer}}
</body>

</html>